// COMMON :: START

.copyright {
	display: flex;

	&__text {
		font-size: 14px;
		line-height: 95px;
		color: #fff;
		@include adaptive(1279) {
			font-size: 12px;
		}
		@include adaptive(767) {
			line-height: 1.4;
			text-align: center;
		}
	}
}

.social {
	display: flex;
	flex-direction: column;

	li {
		display: flex;

		&:not(:last-of-type) {
			padding-bottom: 23px;
			@include adaptive(1279) {
				padding-bottom: 20px;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		font-size: 24px;
		letter-spacing: 0.05em;
		color: #040404;
		@include adaptive(1599) {
			font-size: 22px;
		}
		@include adaptive(1365) {
			font-size: 20px;
		}
		@include adaptive(1279) {
			font-size: 16px;
		}

		div {
			display: flex;
			width: 50px;
			@include adaptive(1279) {
				width: 40px;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				@include adaptive(1279) {
					transform: scale(0.8);
				}
			}
		}
	}
}

// COMMON :: END
