/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  overflow: hidden !important;
}

/* line 12, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 18, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Verdana", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 32, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 37, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 43, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 50, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 53, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 60, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 70, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 76, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 82, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 88, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 94, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 99, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 107, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 112, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 118, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 123, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 130, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 134, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1785px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 6, src/scss/_shared/_common.scss */
.copyright__text {
  font-size: 14px;
  line-height: 95px;
  color: #fff;
}

/* line 13, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 17, src/scss/_shared/_common.scss */
.social li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 20, src/scss/_shared/_common.scss */
.social li:not(:last-of-type) {
  padding-bottom: 23px;
}

/* line 25, src/scss/_shared/_common.scss */
.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #040404;
}

@media screen and (max-width: 1599px) {
  /* line 25, src/scss/_shared/_common.scss */
  .social__link {
    font-size: 22px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 25, src/scss/_shared/_common.scss */
  .social__link {
    font-size: 20px;
  }
}

/* line 38, src/scss/_shared/_common.scss */
.social__link div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
}

/* line 4, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1365px) {
  /* line 4, src/scss/_macros/_logotype.scss */
  .logo__btn {
    max-width: 175px;
  }
}

/* line 11, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 49px;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #003c5a;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 1365px) {
  /* line 3, src/scss/_macros/_btn.scss */
  .c-btn {
    height: 40px;
  }
}

/* line 23, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 27, src/scss/_macros/_btn.scss */
.c-btn span {
  z-index: 2;
  position: relative;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 1365px) {
  /* line 27, src/scss/_macros/_btn.scss */
  .c-btn span {
    font-size: 16px;
  }
}

/* line 3, src/scss/_components/_header.scss */
.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 1599px) {
  /* line 3, src/scss/_components/_header.scss */
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* line 18, src/scss/_components/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  padding-right: 90px;
}

@media screen and (max-width: 1599px) {
  /* line 18, src/scss/_components/_header.scss */
  .header__wrapper {
    padding-right: 0;
  }
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  background-color: #ffffff;
}

/* line 6, src/scss/_components/_footer.scss */
.footer .c-grid {
  max-width: 1670px;
}

/* line 11, src/scss/_components/_footer.scss */
.footer__wrapper-1 {
  height: 60px;
}

/* line 15, src/scss/_components/_footer.scss */
.footer__wrapper-2 {
  padding-top: 35px;
  padding-bottom: 33px;
  -webkit-box-shadow: 0px -2px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 6px 0 rgba(0, 0, 0, 0.1);
}

/* line 21, src/scss/_components/_footer.scss */
.footer__wrapper-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  background-color: #707070;
}

/* line 29, src/scss/_components/_footer.scss */
.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 35, src/scss/_components/_footer.scss */
.footer__col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 39, src/scss/_components/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 123px;
}

/* line 44, src/scss/_components/_footer.scss */
.footer__nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #040404;
}

@media screen and (max-width: 1599px) {
  /* line 44, src/scss/_components/_footer.scss */
  .footer__nav-link {
    font-size: 22px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 44, src/scss/_components/_footer.scss */
  .footer__nav-link {
    font-size: 20px;
  }
}

/* line 57, src/scss/_components/_footer.scss */
.footer__nav-link:not(:last-of-type) {
  padding-bottom: 23px;
}

@media screen and (max-width: 1599px) {
  /* line 57, src/scss/_components/_footer.scss */
  .footer__nav-link:not(:last-of-type) {
    padding-bottom: 20px;
  }
}

/* line 3, src/scss/_components/homepage/_main.scss */
.main {
  overflow: hidden;
  position: relative;
  background-image: url("../img/img-main-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (max-width: 1535px) {
  /* line 3, src/scss/_components/homepage/_main.scss */
  .main {
    background-position: left center;
  }
}

/* line 14, src/scss/_components/homepage/_main.scss */
.main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 406px;
  padding-left: 141px;
  padding-bottom: 38px;
}

@media screen and (max-width: 1599px) {
  /* line 14, src/scss/_components/homepage/_main.scss */
  .main__wrapper {
    padding-top: 306px;
    padding-left: 50px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 14, src/scss/_components/homepage/_main.scss */
  .main__wrapper {
    padding-top: 200px;
    padding-left: 30px;
  }
}

/* line 29, src/scss/_components/homepage/_main.scss */
.main__content {
  position: relative;
  width: 100%;
  max-width: 748px;
}

/* line 34, src/scss/_components/homepage/_main.scss */
.main__content:after {
  content: '';
  position: absolute;
  bottom: -270px;
  left: -220px;
  width: 1080px;
  height: 1080px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: rgba(255, 212, 0, 0.8);
}

@media screen and (max-width: 1599px) {
  /* line 34, src/scss/_components/homepage/_main.scss */
  .main__content:after {
    width: 1024px;
    height: 1024px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 34, src/scss/_components/homepage/_main.scss */
  .main__content:after {
    width: 1000px;
    height: 1000px;
  }
}

/* line 53, src/scss/_components/homepage/_main.scss */
.main__content > * {
  z-index: 2;
  position: relative;
}

/* line 59, src/scss/_components/homepage/_main.scss */
.main__title {
  padding-bottom: 35px;
  font-weight: bold;
  font-size: 41px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #040404;
  line-height: 1.3;
  text-transform: capitalize;
}

@media screen and (max-width: 1599px) {
  /* line 59, src/scss/_components/homepage/_main.scss */
  .main__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 59, src/scss/_components/homepage/_main.scss */
  .main__title {
    font-size: 30px;
  }
}

/* line 76, src/scss/_components/homepage/_main.scss */
.main__desc {
  font-size: 24px;
  letter-spacing: 0.06em;
  line-height: 33px;
  color: #3b3b3b;
}

@media screen and (max-width: 1599px) {
  /* line 76, src/scss/_components/homepage/_main.scss */
  .main__desc {
    font-size: 25px;
  }
  /* line 84, src/scss/_components/homepage/_main.scss */
  .main__desc br {
    display: none;
  }
}

@media screen and (max-width: 1365px) {
  /* line 76, src/scss/_components/homepage/_main.scss */
  .main__desc {
    font-size: 20px;
  }
  /* line 91, src/scss/_components/homepage/_main.scss */
  .main__desc br {
    display: inline-block;
  }
}

/* line 3, src/scss/_components/homepage/_about.scss */
.about {
  overflow: hidden;
  position: relative;
  padding-top: 138px;
  padding-bottom: 111px;
  background-image: url("../img/img-bg-illustration.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (max-width: 1599px) {
  /* line 3, src/scss/_components/homepage/_about.scss */
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 3, src/scss/_components/homepage/_about.scss */
  .about {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

/* line 21, src/scss/_components/homepage/_about.scss */
.about__bg {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 31, src/scss/_components/homepage/_about.scss */
.about__bg img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  -webkit-transform: translateX(39%) translateY(6px);
      -ms-transform: translateX(39%) translateY(6px);
          transform: translateX(39%) translateY(6px);
}

/* line 40, src/scss/_components/homepage/_about.scss */
.about__wrapper {
  z-index: 2;
  position: relative;
  padding-left: 140px;
}

@media screen and (max-width: 1599px) {
  /* line 40, src/scss/_components/homepage/_about.scss */
  .about__wrapper {
    padding-left: 50px;
  }
}

/* line 49, src/scss/_components/homepage/_about.scss */
.about__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 536px;
  min-height: 416px;
  padding: 48px 95px 45px 18px;
  -webkit-border-radius: 0 150px;
          border-radius: 0 150px;
  background: #003c5a;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 1599px) {
  /* line 49, src/scss/_components/homepage/_about.scss */
  .about__box {
    max-width: 476px;
    min-height: 386px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 49, src/scss/_components/homepage/_about.scss */
  .about__box {
    max-width: 420px;
    padding: 40px 50px;
  }
}

/* line 68, src/scss/_components/homepage/_about.scss */
.about__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: 1226px;
}

@media screen and (max-width: 1599px) {
  /* line 68, src/scss/_components/homepage/_about.scss */
  .about__box-wrapper {
    max-width: 1026px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 68, src/scss/_components/homepage/_about.scss */
  .about__box-wrapper {
    max-width: 900px;
  }
}

/* line 80, src/scss/_components/homepage/_about.scss */
.about__box-wrapper > div {
  width: 50%;
  padding-bottom: 75px;
}

/* line 84, src/scss/_components/homepage/_about.scss */
.about__box-wrapper > div:nth-of-type(2) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 89, src/scss/_components/homepage/_about.scss */
.about__box-wrapper > div:nth-of-type(3) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 99, src/scss/_components/homepage/_about.scss */
.about__box-title, .about__box-desc {
  color: #ffffff;
}

/* line 104, src/scss/_components/homepage/_about.scss */
.about__box-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 38px;
}

/* line 108, src/scss/_components/homepage/_about.scss */
.about__box-title > span {
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 0.07em;
  line-height: 31px;
  text-transform: uppercase;
}

@media screen and (max-width: 1599px) {
  /* line 108, src/scss/_components/homepage/_about.scss */
  .about__box-title > span {
    font-size: 20px;
  }
}

/* line 118, src/scss/_components/homepage/_about.scss */
.about__box-title > span:nth-of-type(1) {
  width: 36px;
}

/* line 121, src/scss/_components/homepage/_about.scss */
.about__box-title > span:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 129, src/scss/_components/homepage/_about.scss */
.about__box-desc {
  padding-left: 36px;
  font-size: 23px;
  letter-spacing: 0.04em;
  line-height: 1.3;
}

@media screen and (max-width: 1599px) {
  /* line 129, src/scss/_components/homepage/_about.scss */
  .about__box-desc {
    font-size: 18px;
  }
}

/* line 3, src/scss/_components/homepage/_moves.scss */
.moves {
  position: relative;
  padding-top: 109px;
  padding-bottom: 111px;
  background-image: url("../img/img-moves-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (max-width: 1599px) {
  /* line 3, src/scss/_components/homepage/_moves.scss */
  .moves {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

/* line 16, src/scss/_components/homepage/_moves.scss */
.moves:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 26, src/scss/_components/homepage/_moves.scss */
.moves__wrapper {
  z-index: 2;
  position: relative;
  padding: 66px 57px 84px;
  background-color: rgba(255, 212, 0, 0.8);
}

@media screen and (max-width: 1599px) {
  /* line 26, src/scss/_components/homepage/_moves.scss */
  .moves__wrapper {
    padding: 50px 30px;
  }
}

/* line 36, src/scss/_components/homepage/_moves.scss */
.moves__title {
  padding-bottom: 56px;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.04em;
  line-height: 54px;
  color: #040404;
}

@media screen and (max-width: 1599px) {
  /* line 36, src/scss/_components/homepage/_moves.scss */
  .moves__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 36, src/scss/_components/homepage/_moves.scss */
  .moves__title {
    font-size: 30px;
  }
}

/* line 51, src/scss/_components/homepage/_moves.scss */
.moves__desc {
  font-size: 24px;
  letter-spacing: 0.06em;
  line-height: 48px;
  color: #3b3b3b;
}

@media screen and (max-width: 1599px) {
  /* line 51, src/scss/_components/homepage/_moves.scss */
  .moves__desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 51, src/scss/_components/homepage/_moves.scss */
  .moves__desc {
    font-size: 18px;
  }
}

/* line 63, src/scss/_components/homepage/_moves.scss */
.moves__desc:not(:last-of-type) {
  padding-bottom: 48px;
}

@media screen and (max-width: 1599px) {
  /* line 63, src/scss/_components/homepage/_moves.scss */
  .moves__desc:not(:last-of-type) {
    padding-bottom: 30px;
  }
}

/* line 3, src/scss/_components/homepage/_makes.scss */
.makes {
  overflow: hidden;
  position: relative;
}

/* line 7, src/scss/_components/homepage/_makes.scss */
.makes__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 14, src/scss/_components/homepage/_makes.scss */
.makes__bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #003c5a;
  -webkit-clip-path: polygon(57% 0, 100% 82%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(57% 0, 100% 82%, 100% 100%, 0 100%, 0 0);
}

/* line 26, src/scss/_components/homepage/_makes.scss */
.makes__wrapper {
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 140px;
  padding-top: 151px;
}

@media screen and (max-width: 1599px) {
  /* line 26, src/scss/_components/homepage/_makes.scss */
  .makes__wrapper {
    padding-left: 50px;
    padding-top: 100px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 26, src/scss/_components/homepage/_makes.scss */
  .makes__wrapper {
    padding-left: 30px;
  }
}

/* line 40, src/scss/_components/homepage/_makes.scss */
.makes__wrapper-left {
  width: 45%;
}

@media screen and (max-width: 1599px) {
  /* line 40, src/scss/_components/homepage/_makes.scss */
  .makes__wrapper-left {
    padding-bottom: 75px;
  }
}

/* line 47, src/scss/_components/homepage/_makes.scss */
.makes__wrapper-right {
  width: 55%;
  padding-bottom: 66px;
}

@media screen and (max-width: 1599px) {
  /* line 47, src/scss/_components/homepage/_makes.scss */
  .makes__wrapper-right {
    padding-bottom: 0;
  }
}

/* line 55, src/scss/_components/homepage/_makes.scss */
.makes__wrapper img {
  -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
          transform: translateX(10%);
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 63, src/scss/_components/homepage/_makes.scss */
.makes__title, .makes__desc {
  color: #ffffff;
}

/* line 68, src/scss/_components/homepage/_makes.scss */
.makes__title {
  padding-bottom: 92px;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.04em;
  line-height: 61px;
}

@media screen and (max-width: 1599px) {
  /* line 68, src/scss/_components/homepage/_makes.scss */
  .makes__title {
    padding-bottom: 75px;
    font-size: 35px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 68, src/scss/_components/homepage/_makes.scss */
  .makes__title {
    padding-bottom: 50px;
    font-size: 30px;
  }
}

/* line 84, src/scss/_components/homepage/_makes.scss */
.makes__desc {
  width: 100%;
  max-width: 860px;
  font-size: 24px;
  letter-spacing: 0.06em;
  line-height: 33px;
}

@media screen and (max-width: 1599px) {
  /* line 84, src/scss/_components/homepage/_makes.scss */
  .makes__desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 84, src/scss/_components/homepage/_makes.scss */
  .makes__desc {
    font-size: 18px;
  }
}

/* line 97, src/scss/_components/homepage/_makes.scss */
.makes__desc:not(:last-of-type) {
  padding-bottom: 33px;
}

@media screen and (max-width: 1599px) {
  /* line 97, src/scss/_components/homepage/_makes.scss */
  .makes__desc:not(:last-of-type) {
    padding-bottom: 30px;
  }
}

/* line 3, src/scss/_components/homepage/_description.scss */
.description {
  padding-top: 167px;
  padding-bottom: 159px;
  background-image: url("../img/img-bg-illustration.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (max-width: 1599px) {
  /* line 3, src/scss/_components/homepage/_description.scss */
  .description {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 3, src/scss/_components/homepage/_description.scss */
  .description {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* line 19, src/scss/_components/homepage/_description.scss */
.description .c-grid {
  max-width: 1675px;
}

/* line 23, src/scss/_components/homepage/_description.scss */
.description__box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 434px;
  height: 500px;
  padding: 15px 30px;
  -webkit-filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.16));
}

@media screen and (max-width: 1365px) {
  /* line 23, src/scss/_components/homepage/_description.scss */
  .description__box {
    height: 450px;
  }
}

/* line 37, src/scss/_components/homepage/_description.scss */
.description__box:after {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 212, 0, 0.8);
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* line 49, src/scss/_components/homepage/_description.scss */
.description__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1365px) {
  /* line 49, src/scss/_components/homepage/_description.scss */
  .description__box-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* line 55, src/scss/_components/homepage/_description.scss */
.description__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
}

@media screen and (max-width: 1365px) {
  /* line 55, src/scss/_components/homepage/_description.scss */
  .description__box-wrapper > div {
    max-width: -webkit-calc((100% - 100px) / 3);
    max-width: calc((100% - 100px) / 3);
  }
}

/* line 63, src/scss/_components/homepage/_description.scss */
.description__box-wrapper > div:nth-of-type(2) .description__box {
  margin-left: auto;
  margin-right: auto;
}

/* line 70, src/scss/_components/homepage/_description.scss */
.description__box-wrapper > div:nth-of-type(3) .description__box {
  margin-left: auto;
}

/* line 77, src/scss/_components/homepage/_description.scss */
.description__box-title, .description__box-desc {
  z-index: 2;
  position: relative;
  color: #040404;
}

/* line 84, src/scss/_components/homepage/_description.scss */
.description__box-title {
  padding-bottom: 24px;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: center;
}

@media screen and (max-width: 1365px) {
  /* line 84, src/scss/_components/homepage/_description.scss */
  .description__box-title {
    font-size: 20px;
  }
}

/* line 95, src/scss/_components/homepage/_description.scss */
.description__box-desc {
  font-size: 20px;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 1599px) {
  /* line 95, src/scss/_components/homepage/_description.scss */
  .description__box-desc {
    font-size: 18px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 95, src/scss/_components/homepage/_description.scss */
  .description__box-desc {
    font-size: 16px;
  }
}

/* line 3, src/scss/_components/homepage/_expands.scss */
.expands {
  padding-top: 129px;
  padding-bottom: 128px;
  background-color: #003C5A;
}

@media screen and (max-width: 1599px) {
  /* line 3, src/scss/_components/homepage/_expands.scss */
  .expands {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 3, src/scss/_components/homepage/_expands.scss */
  .expands {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

/* line 16, src/scss/_components/homepage/_expands.scss */
.expands__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1640px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

/* line 24, src/scss/_components/homepage/_expands.scss */
.expands__wrapper-left {
  overflow: hidden;
  position: relative;
  width: 610px;
  min-height: 100%;
}

@media screen and (max-width: 1599px) {
  /* line 24, src/scss/_components/homepage/_expands.scss */
  .expands__wrapper-left {
    width: 550px;
  }
}

/* line 33, src/scss/_components/homepage/_expands.scss */
.expands__wrapper-left:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/img-expand.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

/* line 48, src/scss/_components/homepage/_expands.scss */
.expands__wrapper-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding: 88px 153px;
}

@media screen and (max-width: 1599px) {
  /* line 48, src/scss/_components/homepage/_expands.scss */
  .expands__wrapper-right {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 48, src/scss/_components/homepage/_expands.scss */
  .expands__wrapper-right {
    padding-left: 75px;
    padding-right: 75px;
  }
}

/* line 63, src/scss/_components/homepage/_expands.scss */
.expands__title {
  padding-bottom: 36px;
  font-size: 35px;
  letter-spacing: 0.04em;
  line-height: 65px;
  color: #040404;
}

@media screen and (max-width: 1599px) {
  /* line 63, src/scss/_components/homepage/_expands.scss */
  .expands__title {
    padding-bottom: 30px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 63, src/scss/_components/homepage/_expands.scss */
  .expands__title {
    padding-bottom: 20px;
    line-height: 1.7;
  }
}

/* line 79, src/scss/_components/homepage/_expands.scss */
.expands__desc {
  font-size: 26px;
  letter-spacing: 0.06em;
  line-height: 48px;
  color: #3b3b3b;
}

@media screen and (max-width: 1599px) {
  /* line 79, src/scss/_components/homepage/_expands.scss */
  .expands__desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 79, src/scss/_components/homepage/_expands.scss */
  .expands__desc {
    font-size: 18px;
  }
}

/* line 3, src/scss/_components/homepage/_partners.scss */
.partners {
  padding-top: 150px;
  padding-bottom: 182px;
  background-image: url("../img/img-bg-illustration.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (max-width: 1599px) {
  /* line 3, src/scss/_components/homepage/_partners.scss */
  .partners {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 3, src/scss/_components/homepage/_partners.scss */
  .partners {
    padding-top: 75px;
    padding-bottom: 45px;
  }
}

/* line 19, src/scss/_components/homepage/_partners.scss */
.partners .c-grid {
  max-width: 1670px;
}

/* line 23, src/scss/_components/homepage/_partners.scss */
.partners__wrapper {
  width: 100%;
  max-width: 1494px;
}

/* line 28, src/scss/_components/homepage/_partners.scss */
.partners__title {
  padding-bottom: 50px;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 48px;
  color: #3b3b3b;
}

@media screen and (max-width: 1599px) {
  /* line 28, src/scss/_components/homepage/_partners.scss */
  .partners__title {
    font-size: 30px;
  }
}

/* line 40, src/scss/_components/homepage/_partners.scss */
.partners__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 1365px) {
  /* line 40, src/scss/_components/homepage/_partners.scss */
  .partners__box-wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* line 47, src/scss/_components/homepage/_partners.scss */
.partners__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
  padding-bottom: 30px;
}

@media screen and (max-width: 1365px) {
  /* line 47, src/scss/_components/homepage/_partners.scss */
  .partners__box-wrapper > div {
    max-width: -webkit-calc((100% - 200px) / 3);
    max-width: calc((100% - 200px) / 3);
  }
}

/* line 57, src/scss/_components/homepage/_partners.scss */
.partners__box img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1365px) {
  /* line 57, src/scss/_components/homepage/_partners.scss */
  .partners__box img {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
}

/* line 3, src/scss/_components/homepage/_awards.scss */
.awards {
  padding-top: 56px;
  padding-bottom: 116px;
  background-color: #fdf5e0;
}

@media screen and (max-width: 1599px) {
  /* line 3, src/scss/_components/homepage/_awards.scss */
  .awards {
    padding-top: 50px;
    padding-bottom: 75px;
  }
}

/* line 12, src/scss/_components/homepage/_awards.scss */
.awards .c-grid {
  max-width: 1670px;
}

/* line 16, src/scss/_components/homepage/_awards.scss */
.awards__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 19, src/scss/_components/homepage/_awards.scss */
.awards__wrapper-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-right: 102px;
}

@media screen and (max-width: 1365px) {
  /* line 19, src/scss/_components/homepage/_awards.scss */
  .awards__wrapper-left {
    padding-right: 75px;
  }
}

/* line 29, src/scss/_components/homepage/_awards.scss */
.awards__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 680px;
  padding-top: 40px;
}

@media screen and (max-width: 1599px) {
  /* line 29, src/scss/_components/homepage/_awards.scss */
  .awards__wrapper-right {
    max-width: 600px;
  }
}

/* line 41, src/scss/_components/homepage/_awards.scss */
.awards__title {
  padding-bottom: 50px;
}

/* line 45, src/scss/_components/homepage/_awards.scss */
.awards__title, .awards__desc {
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 51px;
  color: #3b3b3b;
}

@media screen and (max-width: 1599px) {
  /* line 45, src/scss/_components/homepage/_awards.scss */
  .awards__title, .awards__desc {
    font-size: 30px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 45, src/scss/_components/homepage/_awards.scss */
  .awards__title, .awards__desc {
    font-size: 26px;
  }
}

/* line 3, src/scss/_components/homepage/_media.scss */
.media {
  padding-top: 125px;
  padding-bottom: 158px;
  background-image: url("../img/img-bg-illustration.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (max-width: 1599px) {
  /* line 3, src/scss/_components/homepage/_media.scss */
  .media {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* line 15, src/scss/_components/homepage/_media.scss */
.media .c-grid {
  max-width: 1870px;
}

/* line 19, src/scss/_components/homepage/_media.scss */
.media__title {
  width: 100%;
  max-width: 1640px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 82px;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 48px;
  color: #3b3b3b;
}

@media screen and (max-width: 1599px) {
  /* line 19, src/scss/_components/homepage/_media.scss */
  .media__title {
    padding-bottom: 50px;
    font-size: 30px;
  }
}

/* line 35, src/scss/_components/homepage/_media.scss */
.media__slider {
  opacity: 0;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
}

@media screen and (max-width: 1599px) {
  /* line 35, src/scss/_components/homepage/_media.scss */
  .media__slider {
    padding-left: 75px;
    padding-right: 75px;
  }
}

/* line 45, src/scss/_components/homepage/_media.scss */
.media__slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* line 50, src/scss/_components/homepage/_media.scss */
.media__slider-btn--prev {
  left: 0;
}

/* line 54, src/scss/_components/homepage/_media.scss */
.media__slider-btn--next {
  right: 0;
}

/* line 57, src/scss/_components/homepage/_media.scss */
.media__slider-btn--next img {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* line 62, src/scss/_components/homepage/_media.scss */
.media__slider-btn img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1365px) {
  /* line 62, src/scss/_components/homepage/_media.scss */
  .media__slider-btn img {
    max-width: 35px;
  }
}

/* line 74, src/scss/_components/homepage/_media.scss */
.media .swiper-slide {
  position: relative;
  height: 479px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 81, src/scss/_components/homepage/_media.scss */
.media .swiper-slide-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 93px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.82);
}

/* line 92, src/scss/_components/homepage/_media.scss */
.media .swiper-slide-body p {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 30px;
  color: #000;
}

/* line 3, src/scss/_components/homepage/_contacts.scss */
.contacts {
  padding-top: 85px;
  padding-bottom: 41px;
  background-image: url("../img/img-contacts-bg@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (max-width: 1599px) {
  /* line 3, src/scss/_components/homepage/_contacts.scss */
  .contacts {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* line 15, src/scss/_components/homepage/_contacts.scss */
.contacts .c-grid {
  max-width: 1670px;
}

/* line 19, src/scss/_components/homepage/_contacts.scss */
.contacts__title {
  padding-bottom: 28px;
  font-size: 35px;
  letter-spacing: 0.04em;
  color: #040404;
}

@media screen and (max-width: 1599px) {
  /* line 19, src/scss/_components/homepage/_contacts.scss */
  .contacts__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 19, src/scss/_components/homepage/_contacts.scss */
  .contacts__title {
    font-size: 26px;
  }
}

/* line 32, src/scss/_components/homepage/_contacts.scss */
.contacts__desc {
  white-space: nowrap;
  font-size: 27px;
  letter-spacing: 0.17em;
  line-height: 54px;
  color: #030303;
}

@media screen and (max-width: 1919px) {
  /* line 32, src/scss/_components/homepage/_contacts.scss */
  .contacts__desc {
    white-space: normal;
  }
}

@media screen and (max-width: 1599px) {
  /* line 32, src/scss/_components/homepage/_contacts.scss */
  .contacts__desc {
    font-size: 22px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 32, src/scss/_components/homepage/_contacts.scss */
  .contacts__desc {
    font-size: 18px;
  }
}

/* line 48, src/scss/_components/homepage/_contacts.scss */
.contacts__desc:last-of-type {
  padding-bottom: 62px;
}

@media screen and (max-width: 1599px) {
  /* line 48, src/scss/_components/homepage/_contacts.scss */
  .contacts__desc:last-of-type {
    padding-bottom: 50px;
  }
}

/* line 56, src/scss/_components/homepage/_contacts.scss */
.contacts__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

/* line 60, src/scss/_components/homepage/_contacts.scss */
.contacts__form-left, .contacts__form-right {
  width: 100%;
  max-width: 50%;
}

/* line 66, src/scss/_components/homepage/_contacts.scss */
.contacts__form-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 51px 67px 21px 51px;
}

@media screen and (max-width: 1599px) {
  /* line 66, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-left {
    padding: 30px;
  }
}

/* line 75, src/scss/_components/homepage/_contacts.scss */
.contacts__form-right {
  background-image: url("../img/img-contacts.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 82, src/scss/_components/homepage/_contacts.scss */
.contacts__form-field {
  padding-bottom: 25px;
}

/* line 88, src/scss/_components/homepage/_contacts.scss */
.contacts__form-field--btn .c-btn {
  min-width: 249px;
  height: 70px;
}

@media screen and (max-width: 1599px) {
  /* line 88, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-field--btn .c-btn {
    height: 60px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 88, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-field--btn .c-btn {
    height: 50px;
  }
}

/* line 98, src/scss/_components/homepage/_contacts.scss */
.contacts__form-field--btn .c-btn span {
  font-size: 27px;
  text-transform: capitalize;
}

@media screen and (max-width: 1599px) {
  /* line 98, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-field--btn .c-btn span {
    font-size: 22px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 98, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-field--btn .c-btn span {
    font-size: 20px;
  }
}

/* line 111, src/scss/_components/homepage/_contacts.scss */
.contacts__form-field label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 14px;
  font-size: 25px;
  color: #030303;
}

@media screen and (max-width: 1599px) {
  /* line 111, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-field label {
    font-size: 22px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 111, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-field label {
    font-size: 20px;
  }
}

/* line 124, src/scss/_components/homepage/_contacts.scss */
.contacts__form-field input,
.contacts__form-field textarea {
  outline: none;
  position: relative;
  width: 100%;
  padding: 0 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #aeaeae;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  font-size: 18px;
}

@media screen and (max-width: 1365px) {
  /* line 124, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-field input,
  .contacts__form-field textarea {
    font-size: 16px;
  }
}

/* line 140, src/scss/_components/homepage/_contacts.scss */
.contacts__form-field input {
  height: 60px;
}

@media screen and (max-width: 1599px) {
  /* line 140, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-field input {
    height: 55px;
  }
}

@media screen and (max-width: 1365px) {
  /* line 140, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-field input {
    height: 50px;
  }
}

/* line 150, src/scss/_components/homepage/_contacts.scss */
.contacts__form-field textarea {
  resize: none;
  height: 143px;
  padding: 15px;
  font-size: 18px;
}

@media screen and (max-width: 1365px) {
  /* line 150, src/scss/_components/homepage/_contacts.scss */
  .contacts__form-field textarea {
    height: 125px;
    font-size: 16px;
  }
}

/*# sourceMappingURL=maps/app.css.map */
