// FOOTER :: START

footer#footer.footer

	.footer__wrapper.footer__wrapper-1

	.footer__wrapper.footer__wrapper-2
		.c-grid

			.footer__row
				.footer__col.footer__col-1

					.logo.logo--footer
						a.logo__btn(href="/")
							img.logo__img(src="img/logo.svg" alt="")

				.footer__col.footer__col-2

					nav.footer__nav
						a.footer__nav-link(href="/about.html") About Us
						a.footer__nav-link(href="/privacy.html") Privacy Policy
						a.footer__nav-link(href="/terms.html") Terms & Conditions

					ul.social
						li
							a.social__link.social__link--facebook(href="https://www.facebook.com/datacultr/")
								div
									img(src="img/facebook.svg" alt="")
								span Facebook
						li
							a.social__link.social__link--linkedin(href="https://www.linkedin.com/company/datacultr/")
								div
									img(src="img/linkedIn.svg" alt="")
								span Linkedin
						li
							a.social__link.social__link--twitter(href="https://twitter.com/datacultrworld")
								div
									img(src="img/twitter.svg" alt="")
								span Twitter

	.footer__wrapper.footer__wrapper-3
		.c-grid

			.copyright
				p.copyright__text Copyright 2020 Datacultr Fintech Limited. All Rights Reserved

// FOOTER :: END
