---
title: Datacultr

pageClassName: p-home
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/homepage/_main
		include components/homepage/_about
		include components/homepage/_moves
		include components/homepage/_makes
		include components/homepage/_description
		include components/homepage/_expands
		include components/homepage/_partners
		include components/homepage/_awards
