// HEADER :: START

.header {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #fff;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	@include adaptive(1599) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@include adaptive(1023) {
		padding-left: 15px;
		padding-right: 15px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 70px;
		padding-right: 90px;
		@include adaptive(1599) {
			padding-right: 0;
		}
	}
}

// HEADER :: END
