// SECTION :: START

.awards {
	padding-top: 56px;
	padding-bottom: 116px;
	background-color: #fdf5e0;

	.c-grid {
		max-width: 1670px;
	}

	&__wrapper {
		display: flex;

		&-left {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-right: 102px;
		}

		&-right {
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: 680px;
			padding-top: 40px;
		}
	}

	&__title {
		padding-bottom: 50px;
	}

	&__title,
	&__desc {
		font-size: 35px;
		letter-spacing: 0.06em;
		line-height: 51px;
		color: #3b3b3b;
	}
}

// SECTION :: END
