// SECTION :: START

.awards {
	padding-top: 56px;
	padding-bottom: 116px;
	background-color: #fdf5e0;

	&__wrapper {
		display: flex;

		&-left {
			width: 100%;
			max-width: 847px;
		}

		&-right {
			display: flex;
			justify-content: space-between;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}
	}

	&__title {
		padding-bottom: 62px;
	}

	&__title,
	&__desc {
		font-size: 35px;
		letter-spacing: 0.06em;
		line-height: 51px;
		color: #3b3b3b;
	}
}

// SECTION :: END
