// SECTION :: START

.contacts {
	padding-top: 85px;
	padding-bottom: 41px;
	background-image: url('../img/img-contacts-bg@2x.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include adaptive(1599) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.c-grid {
		max-width: 1670px;
	}

	&__title {
		padding-bottom: 28px;
		font-size: 35px;
		letter-spacing: 0.04em;
		color: #040404;
		@include adaptive(1599) {
			font-size: 30px;
		}
		@include adaptive(1365) {
			font-size: 26px;
		}
		@include adaptive(1279) {
			font-size: 24px;
		}
	}

	&__desc {
		white-space: nowrap;
		font-size: 27px;
		letter-spacing: 0.17em;
		line-height: 54px;
		color: #030303;
		@include adaptive(1919) {
			white-space: normal;
		}
		@include adaptive(1599) {
			font-size: 22px;
		}
		@include adaptive(1365) {
			font-size: 18px;
		}
		@include adaptive(1279) {
			font-size: 16px;
			line-height: 2;
		}

		&:last-of-type {
			padding-bottom: 62px;
			@include adaptive(1599) {
				padding-bottom: 50px;
			}
		}
	}

	&__form {
		display: flex;
		background-color: #ffffff;
		@include adaptive(767) {
			flex-wrap: wrap;
		}

		&-left,
		&-right {
			width: 100%;
			max-width: 50%;
			@include adaptive(767) {
				max-width: 100%;
			}
		}

		&-left {
			display: flex;
			flex-direction: column;
			padding: 51px 67px 21px 51px;
			@include adaptive(1599) {
				padding: 30px;
			}
			@include adaptive(1279) {
				padding: 30px 20px;
			}
		}

		&-right {
			background-image: url('../img/img-contacts.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		&-field {
			padding-bottom: 25px;

			&--input {}

			&--btn {
				.c-btn {
					min-width: 249px;
					height: 70px;
					@include adaptive(1599) {
						height: 60px;
					}
					@include adaptive(1365) {
						height: 50px;
					}
					@include adaptive(767) {
						width: 100%;
					}

					span {
						font-size: 27px;
						text-transform: capitalize;
						@include adaptive(1599) {
							font-size: 22px;
						}
						@include adaptive(1365) {
							font-size: 20px;
						}
					}
				}
			}

			label {
				display: flex;
				padding-bottom: 14px;
				font-size: 25px;
				color: #030303;
				@include adaptive(1599) {
					font-size: 22px;
				}
				@include adaptive(1365) {
					font-size: 20px;
				}
				@include adaptive(1279) {
					padding-bottom: 10px;
					font-size: 18px;
				}
			}

			input,
			textarea {
				outline: none;
				position: relative;
				width: 100%;
				padding: 0 20px;
				border-radius: 5px;
				border: 1px solid #aeaeae;
				box-shadow: none;
				background-color: #fff;
				font-size: 18px;
				@include adaptive(1365) {
					font-size: 16px;
				}
			}

			input {
				height: 60px;
				@include adaptive(1599) {
					height: 55px;
				}
				@include adaptive(1365) {
					height: 50px;
				}
			}

			textarea {
				resize: none;
				height: 143px;
				padding: 15px;
				font-size: 18px;
				@include adaptive(1365) {
					height: 125px;
					font-size: 16px;
				}
			}
		}
	}
}

// SECTION :: END
