// SECTION :: START

.main {
	overflow: hidden;
	position: relative;
	background-image: url('../img/img-main-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include adaptive(1535) {
		background-position: left center;
	}
	@include adaptive(1023) {
		background-position: center;
	}

	&__wrapper {
		display: flex;
		padding-top: 406px;
		padding-left: 141px;
		padding-bottom: 38px;
		@include adaptive(1599) {
			padding-top: 306px;
			padding-left: 50px;
		}
		@include adaptive(1365) {
			padding-top: 200px;
			padding-left: 30px;
		}
		@include adaptive(1279) {
			padding-top: 150px;
		}
		@include adaptive(1023) {
			padding-left: 15px;
		}
		@include adaptive(767) {
			padding-right: 15px;
		}
	}

	&__content {
		position: relative;
		width: 100%;
		max-width: 748px;
		@include adaptive(1023) {
			max-width: 70%;
		}
		@include adaptive(767) {
			max-width: 100%;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: -270px;
			left: -220px;
			width: 1080px;
			height: 1080px;
			border-radius: 50%;
			background-color: rgba(#FFD400, 0.8);
			@include adaptive(1599) {
				width: 1024px;
				height: 1024px;
			}
			@include adaptive(1365) {
				width: 1000px;
				height: 1000px;
			}
			@include adaptive(1023) {
				left: -300px;
				width: 900px;
				height: 950px;
			}
			@include adaptive(767) {
				left: -300px;
				width: 1024px;
				height: 1024px;
			}
		}

		> * {
			z-index: 2;
			position: relative;
		}
	}

	&__title {
		padding-bottom: 35px;
		font-weight: bold;
		font-size: 41px;
		letter-spacing: 0.04em;
		text-align: left;
		color: #040404;
		line-height: 1.3;
		text-transform: capitalize;
		@include adaptive(1599) {
			font-size: 35px;
		}
		@include adaptive(1365) {
			font-size: 30px;
		}
		@include adaptive(1279) {
			padding-bottom: 30px;
			line-height: 1.5;
		}
		@include adaptive(1023) {
			line-height: 1.8;
		}
		@include adaptive(767) {
			font-size: 26px;
		}
	}

	&__desc {
		font-size: 24px;
		letter-spacing: 0.06em;
		line-height: 33px;
		color: #3b3b3b;
		@include adaptive(1599) {
			font-size: 25px;

			br {
				display: none;
			}
		}
		@include adaptive(1365) {
			font-size: 20px;

			br {
				display: inline-block;
			}
		}
		@include adaptive(1279) {
			font-size: 16px;
		}
		@include adaptive(1023) {
			br {
				display: none;
			}
		}
	}
}

// SECTION :: END
