// SECTION :: START

.media {
	padding-top: 125px;
	padding-bottom: 158px;
	background-image: url('../img/img-bg-illustration.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include adaptive(1599) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include adaptive(1023) {
		padding-top: 75px;
		padding-bottom: 75px;
	}
	@include adaptive(767) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.c-grid {
		max-width: 1870px;
	}

	&__title {
		width: 100%;
		max-width: 1640px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 82px;
		font-size: 35px;
		letter-spacing: 0.06em;
		line-height: 48px;
		color: #3b3b3b;
		@include adaptive(1599) {
			padding-bottom: 50px;
			font-size: 30px;
		}
		@include adaptive(1023) {
			font-size: 26px;
		}
		@include adaptive(767) {
			font-size: 24px;
		}
	}

	&__slider {
		opacity: 0;
		position: relative;
		padding-left: 100px;
		padding-right: 100px;
		@include adaptive(1599) {
			padding-left: 75px;
			padding-right: 75px;
		}
		@include adaptive(767) {
			padding-left: 30px;
			padding-right: 30px;
		}

		&-btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			&--prev {
				left: 0;
			}

			&--next {
				right: 0;

				img {
					transform: scaleX(-1);
				}
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
				@include adaptive(1365) {
					max-width: 35px;
				}
				@include adaptive(767) {
					max-width: 20px;
				}
			}
		}
	}

	.swiper {
		&-slide {
			position: relative;
			height: 479px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			&-body {
				display: flex;
				align-items: center;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				min-height: 93px;
				padding: 20px;
				background-color: rgba(#fff, 0.82);
				@include adaptive(767) {
					padding: 15px;
				}

				p {
					font-weight: bold;
					font-size: 16px;
					letter-spacing: 0.06em;
					line-height: 30px;
					color: #000;
					@include adaptive(1279) {
						font-size: 14px;
					}
					@include adaptive(767) {
						line-height: 2;
					}
				}
			}
		}
	}
}

// SECTION :: END
