// SECTION :: START

.partners {
	padding-top: 150px;
	padding-bottom: 182px;
	background-image: url('../img/img-bg-illustration.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include adaptive(1599) {
		padding-top: 100px;
		padding-bottom: 70px;
	}
	@include adaptive(1365) {
		padding-top: 75px;
		padding-bottom: 45px;
	}

	.c-grid {
		max-width: 1670px;
	}

	&__wrapper {
		width: 100%;
		max-width: 1494px;
	}

	&__title {
		padding-bottom: 50px;
		font-size: 35px;
		letter-spacing: 0.06em;
		line-height: 48px;
		color: #3b3b3b;
		@include adaptive(1599) {
			font-size: 30px;
		}
		@include adaptive(1023) {
			font-size: 26px;
		}
		@include adaptive(767) {
			font-size: 24px;
		}
	}

	&__box {
		&-wrapper {
			display: flex;
			flex-wrap: wrap;
			@include adaptive(1365) {
				justify-content: space-between;
			}

			> div {
				display: flex;
				align-items: center;
				width: 100%;
				max-width: calc(100% / 3);
				padding-bottom: 30px;
				@include adaptive(1365) {
					max-width: calc((100% - 200px) / 3);
				}
				@include adaptive(1023) {
					max-width: calc((100% - 75px) / 3);
				}
				@include adaptive(767) {
					max-width: calc((100% - 30px) / 2);
				}
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			transform: scale(0.8);
			@include adaptive(1365) {
				transform: scale(0.9);
			}
		}
	}
}

// SECTION :: END
