// LOGOTYPE :: START

.logo {
	&__btn {
		display: flex;
		@include adaptive(1365) {
			max-width: 175px;
		}
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

// LOGOTYPE :: END
