// SECTION :: START

section#story.story
	.story__row.story__row-1
		.story__bg.story__bg-1
			div

		.story__grid
			.story__wrapper.story__wrapper-1
				.story__wrapper-left

					p.story__title Our Story
					p.story__desc 1.7Bn+ people & 200Mn+ small businesses the world over remain excluded from the fold of formal credit because of various reasons, primary being lack of credit history & collaterals that can be given out as a security. This happens because majority of this population is not in the organized sector, a miniscule of them pay taxes, it is impossible to get their business & income data. In such a scenario, a very small population has access to formal credit.
					p.story__desc Generally, most of these economies also have a very weak contract enforcement record, institutional lenders therefore always find it challenging to collect EMIs in case of a default, hence such loans are fraught with high NPLs

					p.story__subtitle Inclusion is important to help these people-
					ul
						li • Smoothen income trends
						li • Grow businesses via access to financing
						li • Protect against natural or man made disasters
						li • Manage life events like births, weddings, etc

					p.story__desc Did you know that almost 63 million Indians are pushed into poverty because of healthcare costs every year – that’s almost two people every second?

				.story__wrapper-right
					img(src="img/img-story-1.png" srcset='img/img-story-1@2x.png 2x' alt="")

	.story__row.story__row-2
		.story__bg.story__bg-2
			div

		.story__grid
			.story__wrapper.story__wrapper-2
				.story__wrapper-left
					img(src="img/img-story-2.png" srcset='img/img-story-2@2x.png 2x' alt="")

				.story__wrapper-right

					p.story__desc Estimates suggest that banks could generate incremental annual revenue of US$200 Billion by better serving financially excluded individuals and small businesses in 60 emerging countries
					p.story__desc Datacultr believes that technology can play a pivotal role in unlocking this huge potential in emerging countries. Mobile adoption is already bringing a change in people’s lives, smartphones have been instrumental in helping people increase their earning, improve livelihoods and get access to social mobility.
					p.story__desc Datacultr is building technology to use the same smartphone, to remove hurdles that plague lending & debt-collections processes. A smartphone is a high value utility for most low & middle-income people and hence a critical asset, sometimes the only asset in their hands.

					p.story__subtitle Smartphones + Behavioral Sciences + Decisioning Models, equate to
					ol
						li 1. Effective education of first time borrowers
						li 2. Efficient & timely communication
						li 3. Logical interventions in case of payment defaults

					p.story__desc Results speak for themselves, financial institutions have  been able to influence repayments using Datacultr- reducing default rates, reducing NPAs and increasing loan approval rates

// SECTION :: END
