// SECTION :: START

section#us.us

	.us__bg

	.us__wrapper
		.us__wrapper-left

			p.us__title About Us
			p.us__desc Datacultr is an award winning risk mitigation & collections management platform that reduces Loan defaults and NPAs in the ‘New to Credit’ segment, through data driven behavioral interventions.
			p.us__desc Datacultr works with institutional lenders that serve middle & low-income groups, these lenders include Banks, NBFIs, MFIs, Mobile Operators & FinTechs, across the emerging world.
			p.us__desc Datacultr is committed to building solutions that impact the following UN Sustainable Development Goals:
			p.us__desc!= "1. <strong>No Poverty-</strong> Datacultr helps the user get their first loan, that starts their journey of building a good credit score. A good credit score ensures that these people have access to micro-loans when they need it"
			p.us__desc!= "2. <strong>Gender Equality-</strong> A smartphone, is a great tool to impart digital education among women. The internet is a great way for women to learn new skills, sell their goods or just understand trends. Understanding ways to save & grow money further help them bring stability in their work. Bringing a smartphone in the hands of women will empower an entire family, at the same time help build respect in the community, as they improve lives around them"
			p.us__desc!= "3. <strong>Decent Work & Economic Growth-</strong>  200Mn+ Small merchants & businesses are unbanked, the biggest challenge for these people is that they can sell more than the inventory they are able to buy, these people don't have enough cash to buy more. A smartphone can help these groups to access micro-loans, as well as accept digital payments, generate leads & take their businesses online. This not just helps these people to build sustainable businesses but also expand and generate employment"

		.us__wrapper-right
			img(src="img/img-us.png" srcset="img/img-us@2x.png 2x" alt="")

// SECTION :: END
