// SECTION :: START

section#about.about

	.about__bg
		img(src="img/img-about-illustrration-bg.svg" alt="")


	.about__wrapper

		.about__box-wrapper
			div
				.about__box.about__box-1
					p.about__box-title 1. Risk Mitigation via Device management
					p.about__box-desc Datacultr offers AI-driven templates, that the financier can deploy to influence debt repayment among the ‘New to credit’. Thus reducing default rates & NPAs
			div
				.about__box.about__box-2
					p.about__box-title 2. Collections Digitization
					p.about__box-desc Financiers can reduce the cost of collections by implementing programmable messaging & calling, that works even when the user is offline, out of coverage area or unwilling to pick up calls
			div
				.about__box.about__box-3
					p.about__box-title 3. Predictive Fraud Management
					p.about__box-desc Datacultr uses Machine Learning, to identify potential frauds by modeling changes in borrower’s smartphone usage pattern. Allowing financiers to take timely action

// SECTION :: END
