// SECTION :: START

section#awards.awards
	.c-grid
		.awards__wrapper
			.awards__wrapper-left

				p.awards__title Awards
				p.awards__desc We've been honored by major publications and independent industry bodies. Their kind words and strong support speak to the innovation we provide.

			.awards__wrapper-right
				img(src="img/img-awards-1.png" srcset="img/img-awards-1@2x.png 2x" alt="")
				img(src="img/img-awards-2.png" srcset="img/img-awards-2@2x.png 2x" alt="")

// SECTION :: END
