// SECTION :: START

section#contacts.contacts
	.c-grid
		.contacts__wrapper

			p.contacts__title Tell Us About Yourself

			p.contacts__desc You probably have a million questions - let’s talk.
			p.contacts__desc If you’d like to connect with us to learn more about our product, please use the contact form.
			p.contacts__desc If you are from the media, please reach out to pr@datacultr.com
			p.contacts__desc If you want to work with us, send us your resume at jobs@datacultr.com

			form.contacts__form(action='' method='' autocomplete='off')
				.contacts__form-left

					.contacts__form-field.contacts__form-field--input
						label(for='form-name') Your Name
						input(type='text' name='' id='form-name')
					.contacts__form-field.contacts__form-field--input
						label(for='form-phone') Your Phone
						input(type='tel' name='' id='form-phone')
					.contacts__form-field.contacts__form-field--input
						label(for='form-email') Your Email
						input(type='email' name='' id='form-email')
					.contacts__form-field.contacts__form-field--input
						label(for='form-message') Message
						textarea(name='' id='form-message')
					.contacts__form-field.contacts__form-field--btn
						.c-btn__wrapper
							button.c-btn(type='submit')
								span Connect

				.contacts__form-right

// SECTION :: END
