// SECTION :: START

section#description.description
	.c-grid
		.description__wrapper

			.description__box-wrapper
				div
					.description__box.description__box-1
						p.description__box-title Multi Device Brand Support
						p.description__box-desc Datacultr can integrate with all major brands available in the market. We have a portfolio of devices that are readily available and can be used straight out of the box.
				div
					.description__box.description__box-2
						p.description__box-title AI-Driven Lifecycles
						p.description__box-desc Every customer is unique and has specific needs, they may be at different levels of financial evolution. Datacultr builds dynamic templates that help in effective lifecycle management, throughout the tenure of the loan.
				div
					.description__box.description__box-3
						p.description__box-title True Cloud Based
						p.description__box-desc Easy integration with existing CMS and CRM systems via API’s but more importantly, Datacultr is based in the cloud which means that you do not need to spend extra for setting up infrastructure. In case you want us on-premise, we could do that too.

// SECTION :: END
