// SECTION :: START

section#expands.expands
	.c-grid
		.expands__wrapper
			.expands__wrapper-left
			.expands__wrapper-right
				p.expands__title Datacultr expands the market for the entire ecosystem
				p.expands__desc Datacultr brings the ecosystem together and ensures it’s a win-win for everyone- End Customer, Financier, OEM, Retailers & Mobile Operators

// SECTION :: END
