// SECTION :: START

section#main.main

	.main__wrapper

		.main__content
			p.main__title!= "Driving Innovation in <br>financial inclusion"
			p.main__desc!= "Datacultr uses a Smartphone as a tool to provision affordable, accessible and relevant financial products to <br>individuals and small businesses that <br>have traditionally been excluded from the mainstream <br>financial products. <br>Datacultr’s innovative AI driven risk management technology, collections digitization platform & user behavior driven fraud prediction tool, provides answers to the most challenging questions financiers face, as they give loans to the ‘New to credit’. Now billions of unbanked and underserved people can afford a new smartphone by paying in easy installments and access micro-loans by providing the same smartphones as a virtual collateral"

// SECTION :: END
