// SECTION :: START

section#makes.makes

	.makes__bg

	.makes__wrapper
		.makes__wrapper-left

			p.makes__title Datacultr Makes It A No-Risk Decision For You
			p.makes__desc Datacultr understands the needs and psyche of a ‘New To Credit’ customer, with tools & features in-built that ensure experiences positively impact the customer basis their life-cycle, attitudes, payment history & credit scores. The platform provides AI driven behavioral templates to the lender to ensure payments are on time and they are building a strong bond with the customer for life!
			p.makes__desc Datacultr further provides multiple fallbacks to ensure that the financier is always in control, even when the customer is offline, on a patchy network or when the SIM has been removed

		.makes__wrapper-right
			img(src="img/img-makes.png" srcset="img/img-makes@2x.png 2x" alt="")

// SECTION :: END
