// SECTION :: START

section#moves.moves
	.c-grid
		.moves__wrapper

			p.moves__title Datacultr Moves The Needle On Enabling  Inclusion
			p.moves__desc Datacultr positively impacts overall loan approval rates, by reducing default rates and costs of collection. This opens up a huge opportunity for unbanked & underserved customers, who are able to get their first loan.
			p.moves__desc For these customers, such loans, which ride on Datacultr’s technology, begin their journey of building a robust credit score, enabling access to bigger loans in future

// SECTION :: END
