// SECTION :: START

section#partners.partners
	.c-grid
		.partners__wrapper

			p.partners__title Partners

			.partners__box-wrapper
				div
					.partners__box
						img(src="img/img-partners-1.png" srcset="img/img-partners-1@2x.png 2x" alt="")
				div
					.partners__box
						img(src="img/img-partners-2.png" srcset="img/img-partners-2@2x.png 2x" alt="")
				div
					.partners__box
						img(src="img/img-partners-3.png" srcset="img/img-partners-3@2x.png 2x" alt="")
				div
					.partners__box
						img(src="img/img-partners-4.png" srcset="img/img-partners-4@2x.png 2x" alt="")
				div
					.partners__box
						img(src="img/img-partners-5.png" srcset="img/img-partners-5@2x.png 2x" alt="")
				div
					.partners__box
						img(src="img/img-partners-6.png" srcset="img/img-partners-6@2x.png 2x" alt="")

// SECTION :: END
